.tree {
    border: 1px solid #ccc;
    ul {
        list-style: none;
        padding-left: 20px;
        display: none;
        &.show {
            display: block;
        }
        >li {
            padding: 0;
            cursor: pointer;
            width: 100%;
            >span {
                padding: 5px 0;
                display: inline-block;
                width: 100%;
                >i {
                    display: inline-block;
                    width: 10px;
                    height: 100%;
                    padding-right: 5px;
                    &:before {
                        content: "+"
                    }
                }
            }
            &.open,
            &.no-children {
                >span {
                    >i {
                        &:before {
                            content: "-"
                        }
                    }
                }
            }
            &:last-child {
                padding-bottom: 0;
            }
            &.searched {
                >span {
                    color: #8b0000;
                }
            }
            > ul {}
        }
    }
}